/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* TO DO - задать стили модальному окну; 
            сделать анимацию серцечка
            и все hover, focus состояния для кнопок(+ сбросить оутлайн у сердцка и в хейдере) */
.filter-grayscale {
  filter: grayscale(70%);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--stroke-color);
  font-size: 14px;
  cursor: pointer;
  background-color: var(--background-page);
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button__text,
.footer-button__icon {
  color: var(--button-text-color);
  font-family: var(--accent-font-family);
  mix-blend-mode: difference;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-width: 700px;
  margin: auto;
  font-family: var(--main-font-family);
  font-variation-settings: var(--text-font-weight);
  color: var(--text-color);
  background-image: var(--background-page-image);
  background-size: cover;
  background-attachment: fixed;
}


.header {
  font-family: var(--accent-font-family);
  margin-top: 14.5%;
  padding: 19.3% 0 3.6%;
  background: var(--header-background);
  border: 2px solid var(--stroke-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.header-link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 4% 0 0 11%;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  opacity: 0.6;
  pointer-events: none;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.main {
  margin-top: 99px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  background-color: var(--background-page);
  border: 2px solid var(--stroke-color);
}

.card-heading {
  font-size: 18px;
  font-family: var(--main-font-family);
  color: var(--text-color);
  font-variation-settings: var(--title-font-weight);
  padding: 3.7px 10px;
}

.card-image-container {
  position: relative;
}

.card-image-label {
  position: absolute;
  top: 26px;
  right: 24px;
  z-index: 1;
  font-size: 14px;
  font-family: var(--accent-font-family);
  color: var(--text-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 1px var(--background-page);
}

@supports (-webkit-text-stroke: 1px var(--background-page)) {
  .card-image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-page);
  }
}

.card-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 28.5px;
  font-size: 18px;
  color: var(--text-color);
  font-variation-settings: var(--text-font-weight);
  padding: 3.8% 0 0 3.4%;
}


.card-like-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 3.6% 3.7% 3.1%;
  gap: 6px;
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.like-icon {
  width: 36px;
}

.card__like-button {
  padding: 9px 35px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 105px;
}

.footer-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 8px;
  padding: 16px 20px;
}

.footer-button__icon {
  width: 21px;
}

.modal {
  background-color: var(--background-page);
  font-family: var(--accent-font-family);
  color: var(--text-color);
  max-width: 355px;
  text-transform: uppercase;
  border: 2px solid var(--stroke-color);
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}
