/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-family);
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-width: 696px;
  margin: auto;
  font-family: var(--main-font-family);
  font-variation-settings: var(--text-font-weight);
  color: var(--text-color);
  
  background-size: cover;
  background-attachment: fixed;
}


.header {
  font-family: var(--accent-font-family);
  margin-top: 14.5%;
  padding: 19.3% 0 4%;
  background: var(--header-background);
  border: 2px solid var(--stroke-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.header-link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  padding: 4% 0 0 11%;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  opacity: 0.6;
  pointer-events: none;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.main {
  margin-top: 104px;
}

.sprint {
  background-color: var(--background-page);
  border: 2px solid var(--stroke-color);
}

.sprint-heading {
  font-size: 18px;
  font-family: var(--main-font-family);
  color: var(--text-color);
  font-variation-settings: var(--title-font-weight);
  padding-left: 1.2%;
}

.sprint-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.sprint-description {
  font-size: 18px;
  color: var(--text-color);
  font-variation-settings: var(--text-font-weight);
  padding: 4.5% 0 0 3%;
}

.sprint-like-container {
  display: flex;
  justify-content: flex-end;
  margin: 11% 3.5%;
}

.sprint-like-container-button {
  width: 128px;
  padding: 9px 0;
  border: 2px solid var(--stroke-color);
  background-color: transparent;
  font-size: 14px;
  font-family: var(--accent-font-family);
}